@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/segoeui.ttf') format('truetype'), url('assets/fonts/segoeui.woff') format('woff');
}
@font-face {
  font-family: 'Segoe UI Semibold';
  src: url('assets/fonts/segoeui-semibold.ttf') format('truetype'), url('assets/fonts/segoeui-semibold.woff') format('woff');
}
@font-face {
  font-family: 'Segoe UI Bold';
  src: url('assets/fonts/segoeui-bold.ttf') format('truetype'), url('assets/fonts/segoeui-bold.woff') format('woff');
}
@font-face {
  font-family: 'Kamavor-NA';
  src: url('assets/fonts/Kamavor-NA.woff') format('woff'), url('assets/fonts/Kamavor-NA.ttf') format('truetype');
}
@font-face {
  font-family: 'Maler';
  src: url('assets/fonts/Maler.woff') format('woff'), url('assets/fonts/Maler.ttf') format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
figure,
ul,
ol,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
}
img {
  max-width: 100%;
  height: auto;
}
input::-moz-focus-inner {
  border: 0;
  margin: 0;
  padding: 0;
}
ul,
ol,
dd {
  list-style: none;
}
a,
button {
  cursor: pointer;
}
button,
fieldset {
  border-width: 0;
}
body {
  font-family: 'Segoe UI Semibold', sans-serif;
}
.main-button {
  display: inline-block;
  color: black;
  background: transparent;
  border: 1px solid black;
  border-radius: 24px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.28px;
  cursor: pointer;
  transition: 0.25s;
}
.main-button:hover {
  background: rgba(55, 126, 129, 0.4);
}
.font-normal {
  font-family: 'Segoe UI', sans-serif;
}
.font-bold {
  font-family: 'Segoe UI Bold', sans-serif;
}
.font-kamavor {
  font-family: 'Kamavor-NA', 'Maler', sans-serif;
}
.font-kamavor span {
  color: #377E81;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.container {
  margin: 0 auto;
}
.half {
  flex-basis: 50%;
}
@media (min-width: 1500px) {
  .container {
    width: 1440px;
  }
}
@media (max-width: 1499px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 68px;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content ul {
  display: flex;
  align-items: center;
  margin: 0 82px 0 0;
}
header .header-content ul li {
  display: block;
}
header .header-content ul li a:not(.main-button, .favorites) {
  display: block;
  padding: 24px 24px 22px;
  color: inherit;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.72px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.25s;
}
header .header-content ul li a:not(.main-button, .favorites):hover {
  border-color: black;
}
header .header-content ul li .main-button {
  margin: 0 40px;
}
header .header-content ul li .favorites {
  display: block;
  position: relative;
  width: 32px;
}
header .header-content ul li .favorites img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
}
header .header-content ul li .favorites img.heart-hover-state {
  opacity: 0;
}
header .header-content ul li .favorites:hover img.heart-hover-state {
  opacity: 1;
}
header .header-content .logo {
  font-size: 24px;
  line-height: 2;
  margin-left: 80px;
}
header .header-content .logo a {
  color: inherit;
}
@media (min-width: 2000px) {
  .header-content {
    width: 1920px;
    margin: 0 auto;
  }
}
.hero {
  display: flex;
  gap: 24px;
  align-items: center;
}
.hero p {
  font-size: 32px;
  line-height: 2;
  margin-bottom: 24px;
}
.hero img {
  display: block;
  border-radius: 120px 0;
}
.main-content {
  display: flex;
  gap: 24px;
  margin-top: 80px;
}
.main-content aside {
  width: 342px;
}
.main-content .filtered-content {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
}
.main-content .filtered-content div {
  border-radius: 16px;
}
.main-content .filtered-content div img {
  display: block;
  width: 100%;
  height: 192px;
  object-fit: cover;
}
.filters-container {
  background: #FFFFFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 24px;
}
.filters-container .filters .category button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 32px;
  font-family: 'Segoe UI Bold', sans-serif;
  padding: 8px 0;
  width: 100%;
}
.filters-container .filters .category button .label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.title {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.title p {
  font-size: 16px;
  line-height: 32px;
}
footer {
  background: #2E4D4F;
  padding: 48px 0;
  margin-top: 64px;
}
footer .form-label {
  color: white;
  letter-spacing: 1.44px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}
footer .subscribe {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 4px;
  border-radius: 24px;
  width: fit-content;
  margin: 0 auto;
}
footer .subscribe input {
  display: block;
  width: 293px;
  height: 40px;
  margin: 0 20px;
  border: none;
  box-shadow: none;
  outline: none;
}
footer .subscribe .main-button {
  border: none;
  background-color: #377E81;
  color: white;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 24px;
}
footer .subscribe .main-button:hover {
  background-color: #377E81;
}
footer .footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: white;
  margin-top: 24px;
}
footer .footer-menu li {
  display: block;
}
footer .footer-menu li a {
  display: block;
  color: inherit;
  line-height: 32px;
  letter-spacing: 0.64px;
  padding: 8px 24px 6px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.25s;
}
footer .footer-menu li a:hover {
  border-color: white;
}
footer .social-copyright-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 24px;
}
footer .social-copyright-section .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
footer .social-copyright-section .social li {
  display: block;
}
footer .social-copyright-section .social li a {
  display: block;
}
footer .social-copyright-section .social li a img {
  display: block;
}
footer .social-copyright-section .copyright-text {
  color: white;
  text-align: right;
  align-self: center;
}
